/* General Body Styles */
.cfxr-p2-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}

/* Content Container */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
}

html {
    scroll-behavior: smooth;
}

/* Section Specific Styles */
.section {
    margin: 60px 0;
    padding: 20px;
    width: 80%;
    background: transparent;
    color: #fff;
    text-align: center;
}

/* Independent styles for the first section */
.first-section {
    display: flex;
    flex-direction: column; /* Keep as column for single column layout */
}

/* Section 2: Grid Layout */
.grid-layout {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center;
}

/* Section 3: Video Section */
.video-section {
    width: 100%;
}

/* Full-width Video Styles */
.full-width-video {
    width: 100%; /* Make video full width */
    height: auto; /* Maintain aspect ratio */
}

/* Fourth Section: Boxes Container */
.boxes-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap; /* Allows wrapping to the next line if needed */
    width: 100%; /* Ensures full width for the container */
}

/* Glass Box Styles */
.glass-box {
    flex: 1; /* Make the boxes flexible */
    margin: 10px; /* Margin for spacing */
    padding: 20px; /* Adjust padding if needed */
    background: transparent; /* White background with transparency */
    border: 0.2px solid #d3d4d5;
    border-radius: 15px; /* Make boxes rounded */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    color: white; /* Text color */
    text-align: center;
    transition: transform 0.3s ease;
    min-height: 300px; /* Set a minimum height for the boxes */
    max-width: 300px; /* Adjust max width for boxes */
    overflow: hidden; /* Ensures content does not overflow */
}

.glass-box img {
    width: 100%; /* Ensure images fit within the box */
    height: auto; /* Maintain aspect ratio */
}

.glass-box:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

/* Targeting the entire scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #000000; /* Dark grey background */
    border-radius: 10px; /* Rounded edges */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #4f4e4e; /* Slightly lighter dark grey */
    width: 2px;
    border-radius: 0; /* Rounded edges */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a; /* Even lighter dark grey on hover */
}
