/* SF Pro Display */
@font-face {
    font-family: 'SF Pro Display Black';
    src: url('/assets/fonts/SFProDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('/assets/fonts/SFProDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Heavy';
    src: url('/assets/fonts/SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Light';
    src: url('/assets/fonts/SFProDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('/assets/fonts/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('/assets/fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url('/assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url('/assets/fonts/SFProDisplay-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: url('/assets/fonts/SFProDisplay-Ultralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* SF Pro Text */
@font-face {
    font-family: 'SF Pro Text Black';
    src: url('/assets/fonts/SFProText-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Bold';
    src: url('/assets/fonts/SFProText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Heavy';
    src: url('/assets/fonts/SFProText-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Light';
    src: url('/assets/fonts/SFProText-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Medium';
    src: url('/assets/fonts/SFProText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Regular';
    src: url('/assets/fonts/SFProText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Semibold';
    src: url('/assets/fonts/SFProText-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Thin';
    src: url('/assets/fonts/SFProText-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text Ultralight';
    src: url('/assets/fonts/SFProText-Ultralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
